<?xml version="1.0" encoding="UTF-8"?>
  <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
          
<mapper namespace="com.cjlogistics.wms.stock.mapper.WmsStock0010Mapper">
    <select id="selectStockList" parameterType="map" resultType="map">
        SELECT SRVC_CD																	-- 고객사
             , WH_CD																	-- 센터
             , PROD_CD																	-- 품목코드
             , PROD_NM																	-- 품목명
             , ZONE_CD																	-- 존코드
             , ZONE_NM																	-- 존명
             , LOC_CD																	-- 로케이션
             , STOCK_QTY																-- 보관수량
             , ALLOC_QTY																-- 할당수량
             , PICK_QTY																	-- 피킹수량
             , COALESCE((STOCK_QTY - (ALLOC_QTY + PICK_QTY)), 0) AS AVL_QTY				-- 가용수량
             , LOT_NO																	-- LOT번호
             , RMK																		-- 비고
             , REG_ID																	-- 등록자
             , REG_DATE																	-- 등록일자
             , UPD_ID 																	-- 수정자
             , UPD_DATE																	-- 수정일자
          FROM (
                
                    SELECT SRVC_CD
                         , WH_CD
                         , PROD_CD
                         , COALESCE(WMS.FN_GET_PROD_NM(SRVC_CD, WH_CD, PROD_CD), '') 	AS PROD_NM
                         , ZONE_CD
                         , COALESCE(WMS.FN_GET_ZONE_NM(SRVC_CD, WH_CD, ZONE_CD), '') 	AS ZONE_NM
                         , LOC_CD
                         , COALESCE(STOCK_QTY, 0) AS STOCK_QTY
                         , COALESCE(ALLOC_QTY, 0) AS ALLOC_QTY 
                         , COALESCE(PICK_QTY, 0) AS PICK_QTY
                         , TO_CHAR(TO_DATE(LOT_NO, 'YYYYMMDD'), 'YYYY-MM-DD') 			AS LOT_NO
                         , PLT_ID AS ID
                         , RMK 
                         , COALESCE(NULLIF(WMS.FN_GET_USER_NM(REG_ID),''),'')           AS REG_ID  
                         , TO_CHAR(REG_DATE,'YYYY-MM-DD HH24:MI:SS')                    AS REG_DATE
                         , COALESCE(NULLIF(WMS.FN_GET_USER_NM(UPD_ID),''),'')           AS UPD_ID 
                         , TO_CHAR(UPD_DATE,'YYYY-MM-DD HH24:MI:SS')                    AS UPD_DATE
                      FROM WMS.TB_STOCK_D
                     WHERE 1=1
                       AND SRVC_CD  = #{srvcCd}
                       AND WH_CD    = #{whCd}
                       <if test="vendorCd != null and vendorCd != ''">
                       AND PROD_CD  = #{prodCd}
                       </if>
                       <if test="" 
               )
        ORDER BY SRVC_CD, WH_CD, PROD_CD, ZONE_CD, LOC_CD, LOT_NO
    </select>
</mapper>
